[submodule "CoreComponents"]
	path = CoreComponents
	url = https://github.com/YetaWF/YetaWF-CoreComponents
[submodule "Skins/YetaWF"]
	path = Skins/YetaWF
	url = https://github.com/YetaWF/YetaWF-Skins
[submodule "Modules/YetaWF"]
	path = Modules/YetaWF
	url = https://github.com/YetaWF/YetaWF-Modules
[submodule "DataProvider"]
	path = DataProvider
	url = https://github.com/YetaWF/YetaWF-DataProvider
[submodule "Localization/en-US/YetaWF"]
	path = Localization/en-US/YetaWF
	url = https://github.com/YetaWF/Localization-YetaWF-Modules-en-US
[submodule "PublicTools"]
	path = PublicTools
	url = https://github.com/YetaWF/PublicTools
[submodule "Tools"]
	path = Tools
	url = https://bitbucket.org/softelvdm/yetawf-tools
