
*.csproj

**/bin
**/obj

.vs/
artifacts/

Website/Areas/
Website/bower_components/
Website/Data/DataFolder
Website/Data/PackageMap.txt
Website/Data/UpgradeLogFile.txt
Website/Sites
Website/Properties/PublishProfiles/
Website/SiteTemplates
Website/node_modules/

Website/wwwroot/Addons/
Website/wwwroot/AddonsCustom/
Website/wwwroot/AddonsBundles/
Website/wwwroot/lib/
Website/wwwroot/_references.js

packages/

Website/package-lock.json

Website/Data/DataFolder/InitialInstall.txt
Website/Data/LanguageSettings.Generic.json
Website/Data/MimeSettings.Generic.json
Website/Data/appsettings.Generic.json
Website/Data/appsettings.GenericProd.json
Website/Data/appsettings.YetaWFDist5.json
Website/Properties/launchSettings.Generic.json

Website/Website.Generic.csproj_MVC6

Website/app.Generic.config
Website/hosting.Generic.json
Website/web.Generic.config
Website/web.GenericProd.config

YetaWF2.Generic.sln
