
*.csproj

CoreComponents/**/bin
DataProvider/**/bin
Modules/**/bin
PublicTools/**/bin
Skins/**/bin
Website/**/bin

**/obj

.vs/
artifacts/
packages/

Website/Areas/
Website/bower_components/

Website/Data/InitialInstall.txt
Website/Data/PackageMap.txt
Website/Data/StartupLogFile.txt
Website/Data/UpgradeLogFile.txt

Website/Localization

Website/node_modules/

Website/package-lock.json

Website/Properties/PublishProfiles/
Website/Properties/launchSettings.Generic.json

Website/Sites
Website/SiteTemplates/*.txt

Website/wwwroot/Addons/
Website/wwwroot/AddonsBundles/
Website/wwwroot/lib/
Website/wwwroot/_references.js



package-lock.json
